.logo {
  width: 60px;
  height: 60px;
}

.brand {
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}

.search-input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 5px 10px;
  outline: none;
  border-radius: 6px;
}

.icon {
  font-size: 25px;
  margin-left: 10px;
}

.icon:hover {
  cursor: pointer;
}
